body {
    font-size: 20px
}
form {
    padding-left: 20%;
}
#add-book-button {
    margin-left: 20%;
}
#booklist {
    background-color:rgb(57, 152, 120);
    color:rgb(221, 184, 197);
    padding-bottom: 6em;
    padding-right: 4em;
    padding-top: 2em;
    height: 60px;
    width: Auto;
    font-weight: 700px;}
ul {
    display: flex;
    list-style-type: none;
}
li {
    text-decoration: none;
    padding-right: 2em;
}

button {
    border-radius: 30px;
    background-color: palevioletred;
    font-weight: 600px;
    font-size: 18px;
    padding: .5em;
    border-color: rgb(15, 1, 1);
    margin-top: 5px;
    margin-right: 4px;
}
#readBook {
    background-color: rgb(161, 244, 216);
}