body {
    font-size: 20px;
    background-color: rgb(228, 212, 193);
    font-weight: 700px;
}
form {
padding: 2%;
background-color: lightseagreen;
}

#booklist {
    background-color:rgb(57, 152, 120);
    color:rgb(243, 229, 219);
    padding-bottom: 6em;
    padding-right: 4em;
    padding-top: 2em;
    }
ul {
    display: flex;
    list-style-type: none;
}
li {
    text-decoration: none;
    padding-right: 2em;
}
#container {
    display: flex;
}

button {
    border-radius: 30px;
    background-color: rgb(236, 137, 107);
    font-weight: 600px;
    font-size: 18px;
    padding: .5em;
    border-color: rgb(15, 1, 1);
    margin-top: 5px;
    margin-right: 4px;
}
.read-button {
    background-color: rgb(147, 200, 218);
}
.remove-button {
    background-color: rgb(214, 129, 157);
    margin-left: 3px;
}
#readBook {
    background-color: rgb(161, 244, 216);
}
input {
    height: 30px;
    border-radius: 30px;
}