body {
    font-size: 20px;
    background-color: rgb(250, 249, 248);
    font-weight: 700px;
    margin: o;
    background-color:rgb(57, 152, 120);
    height: 100vh;
    display: flex;
}

p {
    color: white;
}

#form-container {
padding: 0 2 2 0;
margin: 0;
background-color: rgb(14, 32, 31);
width: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
color: white;
}


h1 {
    color: white;
}

#booklist {
    color:rgb(243, 229, 219);
    padding-bottom: 6em;
    padding-right: 4em;
    padding-top: 2em;
    }
ul {
    display: flex;
    list-style-type: none;
}
li {
    text-decoration: none;
    padding-right: 2em;
}
#container {
    display: flex;
}

button {
    border-radius: 30px;
    background-color: rgb(236, 137, 107);
    font-weight: 600px;
    font-size: 18px;
    padding: .5em;
    border-color: rgb(15, 1, 1);
    margin-right: 4px;
}
.read-button {
    background-color: rgb(147, 200, 218);
}
.remove-button {
    background-color: rgb(214, 129, 157);
    margin-left: 3px;
}
#readBook {
    background-color: rgb(161, 244, 216);
}
input {
    height: 30px;
    border-radius: 30px;
}